* {
    box-sizing: border-box;
  }
  #a{
    width:80px;
    height:80px;
  }
  .navigationbar{
    width: 100%;
    height: 80px;
    background-color: #A2DEF6;
  }
  .img1{
    width: 100px;
    height: 100px; 
    float: right;
  }
  .bottom1{
    height: auto;
    float: left; 
  }
  .bottom2{
    height: auto;
    float: left;
  }
  .bottom3{
    height: auto;
    float: left;
  }
  .arriba{
    padding: 30px 40px;
    height: 80px;
    font-size: 20px;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .arriba2{
    padding: 30px 40px;
    height: 80px;
    font-size: 20px;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .arriba3{
    padding: 30px 40px;
    height: 80px;
    font-size: 20px;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  a:link, a:visited {
    background-color: #80d3f4;
    color: white;
    text-align: center;
    display: inline-block;
  
  }
  a:hover, a:active {
    background-color: #6fcff5;
    color: white;
  }
  h1{
    margin-left: 25%;
  }
  #im2{
    width: 200px;
    height: 200px;
  }
  .img2{
    width: 100%;
    padding-left: 40%;
  }
  .text1{
    text-align: center;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  .encabezado{
    width: 80%;
    margin-left: 10%;
    border-radius: 30px;
    background-color: #A2DEF6;
    padding: 20px;
  }
  #imagen{
    width: 80%;
    height: 80%;  
  }
  .primero{
    width: 80%;
    margin-left: 10%;
    border-radius: 30px;
    background-color: #A2DEF6;
    padding: 20px;
    height: 150px;
    margin-bottom: 5%;
  }
  .segundo{
    width: 80%;
    margin-left: 10%;
    border-radius: 30px;
    background-color: #A2DEF6;
    padding: 20px;
    height: 150px;
    margin-bottom: 5%;
  }
  .tercero{
    width: 80%;
    margin-left: 10%;
    border-radius: 30px;
    background-color: #A2DEF6;
    padding: 20px;
    height: 150px;
    margin-bottom: 5%;
  }
  .cuarto{
    width: 80%;
    margin-left: 10%;
    border-radius: 30px;
    background-color: #A2DEF6;
    padding: 20px;
    height: 150px;
    margin-bottom: 5%;
  }
  .quinto{
    width: 80%;
    margin-left: 10%;
    border-radius: 30px;
    background-color: #A2DEF6;
    padding: 20px;
    height: 150px;
    margin-bottom: 5%;
  }
  .sexto{
    width: 80%;
    margin-left: 10%;
    border-radius: 30px;
    background-color: #A2DEF6;
    padding: 20px;
    height: 150px;
    margin-bottom: 5%;
  }
  .img3{
    float: left;
    width: 10%;
    height: auto;
    padding-left: 10px;
    padding-top: 15px;
  }
  .text2{
    padding-left: 20px;
    float: left;
    width: 90%;
    height: auto; 
    border-left: 1px solid rgb(255, 255, 255);
    color: white;
  }
  h2{
    margin-left: 10%;
  }

  @media only screen and(max-width: 280px) and (max-width: 768px){
    .primero{
      margin-bottom: 0px;
      margin-top: 0px;
    }

  }