body {
    margin: 0;
}

#degradado {
    position: relative;
    width: 5000px;
    height: 300px;
    float: none;
}

#avionIzq {
    position: absolute;
    margin: 10px;
    width: 250px;
    height: 450px;
}

#fondoNubes {
    position: relative;
    height: 300px;
    width: 100%;
}

h1 {
    position: absolute;
    margin-left: 1200px;
    font-size: 75px;
    color: white;
}

#logo {
    position: absolute;
}

div {
    display: flex;
}

.cuadricula {
    margin-left: 10px;
    margin-top: 10px;
}

.selector1 {
    position: absolute;
    margin: 0;
    font-size: 30px;
    padding: 50px 0 0 300px;
}

.selector2 {
    position: absolute;
    margin: 0;
    font-size: 30px;
    padding: 50px 0 0 800px;
}

.selector3 {
    position: absolute;
    margin: 0;
    font-size: 30px;
    padding: 150px 0 0 300px;
}

.selector4 {
    position: absolute;
    margin: 0;
    font-size: 30px;
    padding: 150px 0 0 800px;
}

.selector5 {
    position: absolute;
    margin: 0;
    font-size: 30px;
    padding: 250px 0 0 300px;
}

.selector6 {
    position: absolute;
    margin: 0;
    font-size: 30px;
    padding: 250px 0 0 800px;
}

select {
    width: 120px;
    height: 35px;
    font-size: 25px;
}