body {
    background-image: url(../images/nubes.jpg);
}

h1 {
    font-size: 75px;
    text-align: center;
    border: 2px solid black;
}

img {
    border: 2px solid black;
}

div {
    display: flex;
    border: 2px solid black;
}

#avionReserva {
    height: 300px;
    margin-left: 40px;
}

#avionReserva2 {
    height: 300px;
    margin-left: 100px;
}

.cuadricula {
    padding: right;
    margin-left: 200px;
}

.selector1 {
    font-size: 25px;
    margin: 0 224px 0 113px;
}

.selector2 {
    font-size: 25px;
}

.selector3 {
    font-size: 25px;
    margin-right: 40px;
}

.selector4 {
    font-size: 25px;
}

.selector5 {
    font-size: 25px;
    margin-right: 40px;
}

.selector6 {
    font-size: 25px;
}

select {
    width: 90px;
    height: 30px;
    font-size: 25px;
}