body {
    background-image: url(../images/nubes.jpg);
}

img {
    border: 2px solid black;
}

#avionReserva {
    height: 300px;
    margin-left: 40px;
}

#avionReserva2 {
    height: 300px;
    margin-left: 40px;
}